#gitignore for golang
#build
*.exe
*.out
*.test
*.prof
*.tar.gz
bin

#temporary files
*.log
*.tmp
*.swp

#directory
.idea/
vendor/
*.DS_Store
*.idea
*.iml
*.vscode
.replay_files/
.mongodb/
.k8s/
./test/sample_replays/cs2/

#system
Thumbs.db
.DS_Store
.DS_Store?
ehthumbs.db
Icon?
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

#osx
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight
.Trashes
ehthumbs.db
Thumbs.db

#windows
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*/.vscode
*/.idea
*/.vscode
*/.DS_Store
*/.gitignore
*/.iml

# proj
.data
.pg
.mongodb
.k8s
.draft
.mongodb
.localstack
.blob
docker-compose.dev.yml
./docker-compose.dev.yml
.env
.env.*
!.env.example

# sensitive files
*.pem
*.key
credentials/
secrets/
config/local.*

jira.env
**/jira.env
./scripts/jira.env